<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.study.stuhel.board.mapper.BoardDAO">

    <resultMap id="Board" type="com.helper.study.stuhel.board.to.BoardTO">
        <result column="TITLE" property="title"/>
        <result column="NOTE" property="note"/>
        <result column="NOTE_SEQ" property="noteSeq"/>
        <result column="WRITE_DATE" property="writeDate"/>
        <result column="TOPIC_CD" property="topicCd"/>
        <result column="TOPIC_NM" property="topicNm"/>
        <result column="CLICK_AMOUNT" property="clickAmount"/>
        <result column="WRITER" property="writer"/>
    </resultMap>

    <select id="selectTopicList" resultMap="Board">
        SELECT TOPIC_NM, TOPIC_CD
        FROM BOARD_TOPIC
        ORDER BY TOPIC_CD ASC
    </select>

    <select id="selectBoardList" resultMap="Board" parameterType="com.helper.study.stuhel.board.to.BoardTO">
        SELECT
            TITLE, NOTE_SEQ, WRITE_DATE, TOPIC_NM, CLICK_AMOUNT, WRITER
        FROM BOARD
    </select>
    <select id="selectReadBoard" resultMap="Board" parameterType="map">
        SELECT *
        FROM BOARD
        WHERE NOTE_SEQ = #{noteSeq}
        AND WRITER = #{writer}
        AND TITLE = #{title}
        ORDER BY NOTE_SEQ ASC
    </select>
    <select id="selectBoardKeyword" parameterType="map" resultMap="Board">
        SELECT
            TITLE, NOTE_SEQ, WRITE_DATE, TOPIC_NM, CLICK_AMOUNT, WRITER
        FROM BOARD
        WHERE TITLE LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR TITLE LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
        OR NOTE LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR NOTE LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
        OR WRITER LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR WRITER LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
        OR TOPIC_NM LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR TOPIC_NM LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
    </select>
    <insert id="insertWrite" parameterType="com.helper.study.stuhel.board.to.BoardTO">
        INSERT INTO BOARD
        (
            title
            ,note
            ,writer
            ,note_SEQ
            ,write_DATE
            ,topic_nm
            ,topic_cd
            ,CLICK_AMOUNT
        )VALUES
        (
            #{title}
            ,#{note}
            ,#{writer}
            ,board_seq.nextval
            ,sysdate
            ,#{topicNm}
            ,(select topic_cd from BOARD_TOPIC where topic_nm=#{topicNm})
            ,0
        )
    </insert>
    <update id="updateViewCount" parameterType="com.helper.study.stuhel.board.to.BoardTO">
        UPDATE BOARD
        SET CLICK_AMOUNT = CLICK_AMOUNT+1
        WHERE
            NOTE_SEQ=#{noteSeq}
            AND TITLE=#{title}
            AND WRITER=#{writer}
    </update>
    <select id="selectBoardComment" parameterType="java.lang.String" resultType="com.helper.study.stuhel.board.to.BoardCommentTO">
        SELECT *
        FROM BOARD_COMMENT
        WHERE NOTE_SEQ = #{noteSeq}
    </select>
    <insert id="insertComment" parameterType="com.helper.study.stuhel.board.to.BoardCommentTO">
        INSERT INTO BOARD_COMMENT
        (
            comment_seq
            ,note_seq
            ,cmt
            ,writer
            ,write_Date
            ,cdepth
            ,cgroup
        )VALUES
        (
            board_comment_seq.nextval
            ,#{noteSeq}
            ,#{cmt}
            ,#{writer}
            ,sysdate
            ,#{cDepth}
            ,#{cGroup}
        )
    </insert>
    <delete id="deleteBoardComment" parameterType="com.helper.study.stuhel.board.to.BoardCommentTO">
        DELETE
        FROM BOARD_COMMENT
        WHERE COMMENT_SEQ=#{commentSeq}
        AND NOTE_SEQ=#{noteSeq}
        AND WRITER=#{writer}

    </delete>
</mapper>