<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.study.stuhel.board.mapper.BoardDAO">

    <resultMap id="Board" type="com.helper.study.stuhel.board.to.BoardTO">
        <result column="TITLE" property="title"/>
        <result column="NOTE" property="note"/>
        <result column="NOTE_SEQ" property="noteSeq"/>
        <result column="WRITE_DATE" property="writeDate"/>
        <result column="TOPIC_CD" property="topicCd"/>
        <result column="TOPIC_NM" property="topicNm"/>
        <result column="CLICK_AMOUNT" property="clickAmount"/>
        <result column="WRITER" property="writer"/>
    </resultMap>

    <select id="selectTopicList" resultMap="Board">
        SELECT TOPIC_NM, TOPIC_CD
        FROM BOARD_TOPIC
        ORDER BY TOPIC_CD ASC
    </select>

    <select id="selectBoardList" resultMap="Board" parameterType="com.helper.study.stuhel.board.to.BoardTO">
        SELECT
            TITLE, NOTE_SEQ, WRITE_DATE, TOPIC_NM, CLICK_AMOUNT, WRITER
        FROM BOARD
    </select>
    <select id="selectReadBoard" resultMap="Board" parameterType="map">
        SELECT *
        FROM BOARD
        WHERE NOTE_SEQ = #{noteSeq}
        AND WRITER = #{writer}
        AND TITLE = #{title}
        AND TOPIC_CD = #{topicCd}
    </select>
    <select id="selectBoardKeyword" parameterType="map" resultMap="Board">
        SELECT
            TITLE, NOTE_SEQ, WRITE_DATE, TOPIC_NM, CLICK_AMOUNT, WRITER
        FROM BOARD
        WHERE TITLE LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR TITLE LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
        OR NOTE LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR NOTE LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
        OR WRITER LIKE
            <foreach collection="keywordList" item="keyword" separator=" OR WRITER LIKE ">
                '%'||#{keyword}||'%'
            </foreach>
    </select>
    <insert id="insertWrite" parameterType="com.helper.study.stuhel.board.to.BoardTO">
        INSERT INTO BOARD
        (
            title
            ,note
            ,writer
            ,note_SEQ
            ,write_DATE
            ,topic_nm
            ,topic_cd
        )VALUES
        (
            #{title}
            ,#{note}
            ,#{writer}
            ,board_seq.nextval
            ,sysdate
            ,#{topicNm}
            ,(select topic_cd from BOARD_TOPIC where topic_nm=#{topicNm})
        )
    </insert>
</mapper>