<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.study.stuhel.mapper.BookDAO">

    <resultMap id="RoomName" type="String">
        <result property="roomId" column="ROOM_ID"/>
    </resultMap>

    <select id="bookSearch" parameterType="com.helper.study.stuhel.to.BookTO" resultMap="RoomName">
        SELECT ROOM_ID FROM STUDY_ROOM S
        WHERE S.ROOM_ID NOT IN (select r.ROOM_ID
                                  from ROOM_BOOK r
                                 where r.BOOKING_DATE != #{bookingDate}
                                         and r.BOOKING_TIME != #{bookingTime})
    </select>

    <insert id="roomBook" parameterType="com.helper.study.stuhel.to.BookTO">
        INSERT INTO ROOM_BOOK (
            BOOKING_ID
            ,USER_ID
            ,ROOM_ID
            ,BOOKING_DATE
            ,BOOKING_TIME
        )VALUES(
            ROOM_SEQ.NEXTVAL
            ,#{userId}
            ,#{roomId}
            ,#{bookingDate}
            ,#{bookingTime}
        )
    </insert>
</mapper>