<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.study.stuhel.member.mapper.MemberMapper">

    <resultMap type="com.helper.study.stuhel.member.to.MemberTO" id="Member">
        <result property="id" column="ID" />
        <result property="password" column="PASSWORD" />
        <result property="name" column="NAME" />
        <result property="birth" column="BIRTH" />
    </resultMap>

    <resultMap type="com.helper.study.stuhel.member.to.MemberTO" id="MemberIdResult">
        <result property="id" column="ID" />
    </resultMap>

    <select id="selectMemberLogin" parameterType="com.helper.study.stuhel.member.to.MemberTO" resultMap="Member">
        SELECT
            ID,
            NAME,
            PASSWORD,
            BIRTH,
            CREDITNUMBER
        FROM MEMBER_SECURITY
        WHERE ID = #{id}
            AND PASSWORD = #{password}
    </select>

    <select id="selectIdDoubleCheck" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT ID
        FROM MEMBER_SECURITY
        WHERE LOWER(ID) = #{memberId}
    </select>

    <insert id="insertMember" parameterType="com.helper.study.stuhel.member.to.MemberTO">
        INSERT INTO
            MEMBER_SECURITY(
            ID,
            NAME,
            PASSWORD,
            BIRTH,
            CREDITNUMBER
        ) VALUES(
            #{id},
            #{name},
            #{password},
            #{birth},
            MEMBER_SEQ.NEXTVAL
        )
    </insert>
</mapper>