<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.study.stuhel.mypage.mapper.MyPageMapper">

    <resultMap type="com.helper.study.stuhel.member.to.MemberTO" id="myPageMember">
        <result property="id" column="ID" />
        <result property="password" column="PASSWORD" />
        <result property="name" column="NAME" />
        <result property="creditNumber" column="CREDITNUMBER" />
        <result property="birth" column="BIRTH" />
    </resultMap>

    <resultMap type="com.helper.study.stuhel.home.to.BookTO" id="myPageBook">
        <result property="bookId" column="BOOK_ID" />
        <result property="userId" column="USER_ID" />
        <result property="roomId" column="ROOM_ID" />
        <result property="bookDate" column="BOOK_DATE" />
        <result property="bookTime" column="BOOK_TIME" />
    </resultMap>

    <select id="selectMemberInfo" parameterType="com.helper.study.stuhel.member.to.MemberTO" resultMap="myPageMember">
        select ID, PASSWORD,NAME, BIRTH
        from MEMBER_SECURITY
        where ID = #{id}
    </select>

    <update id="updateMemberInfo" parameterType="com.helper.study.stuhel.member.to.MemberTO">
        UPDATE MEMBER_SECURITY
        SET
        ID = #{id}
        ,NAME = #{name}
        ,PASSWORD = #{password}
        ,BIRTH = #{birth}
        WHERE ID = #{sessionId}  <!--TO에 sessionId 없어서 에러뜰 수도 있음 파라메터타입 ...바꾸든지 어쩌던지 해봐 ~-->
    </update>

    <select id="selectBookStatus" parameterType="com.helper.study.stuhel.home.to.BookTO" resultMap="myPageBook">
        SELECT *
        FROM ROOM_BOOK
        WHERE USER_ID = #{userId}
            AND BOOK_DATE LIKE #{bookDate}||'%'
    </select>
    <select id="bookDateSearch" parameterType="com.helper.study.stuhel.member.to.MemberTO" resultMap="myPageMember">
        SELECT ROOM_ID, BOOK_DATE,BOOK_TIME
        FROM STUDY_ROOM
        WHERE ROOM_ID = #{id}
    </select>
    <delete id="deleteBook" parameterType="com.helper.study.stuhel.home.to.BookTO">
        DELETE
        FROM ROOM_BOOK
        WHERE
            USER_ID = #{userId}
            AND BOOK_DATE = #{bookDate}
            AND BOOK_TIME = #{bookTime}
            AND ROOM_ID = #{roomId}
            AND BOOK_ID = #{bookId}
    </delete>

</mapper>